<div id="login-form">
<h2>重新发送验证邮件</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control", placeholder: "邮箱" %>
  </div>

  <div class="actions">
    <%= f.submit "发送邮件", class: "btn btn-default btn-submit" %>
  </div>
<% end %>

</div>