<div id="login-form">
<h2>找回密码</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
		<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "邮箱" %>
  </div>

  <div class="actions">
    <%= f.submit "发送邮件", class: "btn btn-default btn-submit" %>
  </div>
<% end %>
</div>